<% content_for :page_title, 'Please wait. Signing you in' %>

<script>
  function init(){document.forms[0].submit();}
  window.onload=init;
</script>
<div class="content-inner">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Continue to next step</h1>
      <div class="application-notice info-notice">
        <p>Because Javascript is not enabled on your browser, you must press the continue button</p>
      </div>
      <%= form_tag(@saml_message.location) do %>
          <%= hidden_field_tag @saml_message.type, @saml_message.saml_request %>
          <% if @saml_message.relay_state %>
            <%= hidden_field_tag 'RelayState', @saml_message.relay_state %>
          <% end %>
          <%= submit_tag 'Continue', id: 'continue-button' %>
      <% end %>
    </div>
  </div>
</div>
